@import "compass";
@import "compass/reset/";

$font-color: #333;
$error-font-color: #f33;
$main-font-size: 18px;
$title-font-size: 30px;
$main-width: 90%;

body{
  color: $font-color;
  font-size: $main-font-size;
}

a{
  text-decoration: none;
  color: $font-color;
}

a:hover{
  opacity: 0.6;
}

header{
  @include clearfix;
  img{
    float: left;
  }

  li{
    float: left;
    width: 150px;
    height: 100px;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
  }
}

.container{
  width: $main-width;
  margin: 10px auto;
}

section{
  padding: 20px 20px;
}

h1{
  font-size: $title-font-size;
  text-align: center;
  margin-bottom: 20px;
}

footer{
  margin-top: 30px;
  text-align: center;
  border-top: solid $font-color 1px;
  border-bottom: solid $font-color 1px;

  padding: 5px;
}

button{
  cursor: pointer;
  display: block;
}

button:hover{
  opacity: 0.8;
}

.normal-button{
  display: block;
  text-align: center;
  border: solid $font-color 1px;
  color: $font-color;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
}

.radius-button{
  display: block;
  text-align: center;
  border: solid $font-color 1px;
  color: $font-color;
  width: 150px;
  border-radius: 10px;
  height: 30px;
  line-height: 30px;
}


.logout{
  padding-top: 35px;
  height: 65px;
  float: right;
  margin-right: 30px;
}

label{
  display: block;
  float: left;
  width: 150px;
  height: 30px;
  line-height: 20px;
  text-align: right;
  padding-right: 10px;
}

input{
  color: $font-color;
}

select{
  color: $font-color;
}

textarea{
  color: $font-color;
}

.normal-form{
  width: 500px;
  margin: 20px auto;
}

.center{
  margin: 0 auto;
}

.error{
  text-align: center;
  color: $error-font-color;
  padding: 10px;
}

.create_button{
  display: block;
  text-align: center;
  font-size: 14px;
  border: dotted $font-color 1px;
  width: 150px;
  height: 30px;
  float: right;
  line-height: 30px;
  @include clearfix;
}

.normal-table{
  margin: 20px auto;
  th{
    border: dotted $font-color 1px;
    width: 200px;
    font-size: 20px;
    padding: 5px;
  }
  td{
    border: dotted $font-color 1px;
    padding: 5px;
  }
  .small{
    width: 50px;
  }
  .middle{
    width: 50px;
  }
}

.normal-textarea{
  width: 300px;
  height: 300px;
}

.center{
  text-align: center;
}

h2{
  font-size: $title-font-size;
}

.topic{
  div{
    border: dotted $font-color 1px;
    padding: 5px;
  }
  width: 48%;
  float: right;
}

section{
  @include clearfix;
}

.content_box{
  border: dotted $font-color 1px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.topic_list{
  text-align: center;

  li{
    height: 30px;
  }
}

.pagination{
  @include clearfix;
  margin: 20px auto 0 auto;
  text-align: center;
  display: table;
  li{
    width: 20px;
    display: block;
    float: left;
  }
}

.header_user{
  font-size: 14px;
  float: right;
  width: 300px;
  text-align: right;
  margin-right: 50px;
}

h3{
  text-align: center;
  margin: 25px auto 10px auto;
}

.policy{
  width: 800px;
  margin: 20px auto;

  .over{
    margin-top: 30px;
    text-align: right;
  }
}

.company{
  width: 500px;
  margin: 0 auto;

  tr{
    height: 30px;
  }

  td,th{
    padding: 10px;
    border: solid 1px #ccc;
  }
}

.item_list{
  width: 800px;
  text-align: center;
  margin: 20px auto;
  li{
    img{

    }
    float: left;
    width: 200px;
  }
}

.item_box{
  width: 800px;
  margin: 20px auto;
  img{
    float: left;
    display: block;
    margin-bottom: 20px;
  }

  table{
    margin: 0 auto;
    tr,td{
      border: solid 1px #ccc;
      padding: 10px;
    }

    tr{
      width: 100px;
    }

    td{
      width: 200px;
    }
  }

  p{
    clear: both;
    border: solid 1px #ccc;
    padding: 20px;
    margin: 20px auto;
  }
}

.big-button{
  width: 300px;
  margin: 20px auto;
  font-size: 30px;
}

.search{
  @include clearfix;
  input,button{
    float: right;
  }
}

.prof_table{
  width: 300px;
  margin: 20px auto;
  th{
    width: 100px;
  }

  th,td{
    padding: 10px;
    border: solid 1px #ccc;
  }
}