@import "compass";
@import "compass/reset/";

$font-color: #333;
$error-font-color: #f33;
$bg-color: #f33;
$main-font-size: 18px;
$title-font-size: 30px;
$main-width: 100%;

html{
  height: 100%;
  font-family: Meiryo , sans-serif;
}

body{
  color: $font-color;
  font-size: $main-font-size;
  height: 100%;
}

a{
  text-decoration: none;
  color: $font-color;
}

a:hover{
  opacity: 0.6;
}

header{
  @include clearfix;
  img{
    float: left;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 20px;
  }

  li > a{
    float: left;
    width: 150px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    margin: 25px 5px;
    border-radius: 20px;
  }
  padding: 10px 10%;
  background-color: $bg-color;
}

.container{
  width: $main-width;
  height: 100%;
  margin:   0px auto;
}

section{
  padding: 40px 0px;
  min-height: 70%;
}

h1{
  font-size: $title-font-size;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: double 3px $bg-color;
  padding-bottom: 5px;
}

footer{
  margin-top: 30px;
  text-align: center;
  color: #fff;
  background-color: $bg-color;
  padding: 30px;
  div{
    padding-bottom: 20px;
  }
  a{
    color: #fff;
  }
}

button{
  cursor: pointer;
  display: block;
}

button:hover{
  opacity: 0.8;
}

.normal-button{
  display: block;
  text-align: center;
  border: none;
  background-color: $bg-color;
  color: #fff;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
}

.logout-button{
  display: block;
  text-align: center;
  background-color: #fff;
  color: $font-color;
  border: none;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  margin-top: 30px;
}

.radius-button{
  display: block;
  text-align: center;
  border: solid $font-color 1px;
  color: $font-color;
  width: 150px;
  border-radius: 10px;
  height: 30px;
  line-height: 30px;
}


.logout{

  height: 65px;
  float: right;
  margin-right: 30px;
}

label{
  display: block;
  float: left;
  width: 150px;
  height: 30px;
  line-height: 20px;
  text-align: right;
  padding-right: 10px;
}

input{
  color: $font-color;
  width: 300px;
  height: 20px;
}

select{
  color: $font-color;
}

textarea{
  color: $font-color;
}

.normal-form{
  width: 600px;
  margin: 20px auto;
  fieldset{
    margin: 10px;
  }
}

.center{
  margin: 0 auto;
}

.error{
  text-align: center;
  color: $error-font-color;
  padding: 10px;
}

.create_button{
  display: block;
  text-align: center;
  font-size: 14px;
  border: dotted $font-color 1px;
  width: 150px;
  height: 30px;
  float: right;
  line-height: 30px;
  @include clearfix;
}

.normal-table{
  margin: 20px auto;
  th{
    border: solid #ccc 1px;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    background-color: $bg-color;
    color: #fff;
  }
  td{
    border: solid #ccc 1px;
    padding: 10px;
  }
  .small{
    width: 50px;
  }
  .middle{
    width: 50px;
  }
}

.normal-textarea{
  width: 300px;
  height: 300px;
}

.center{
  text-align: center;
}

h2{
  font-size: $title-font-size;
  border-bottom: 1px solid $bg-color;
  padding-bottom: 5px;
}

.topic{
  div{
    border: solid $bg-color 1px;
    border-radius: 10px;
    padding: 5px;
  }
  width: 48%;
  float: right;
}

section{
  @include clearfix;
}

.content_box{
  border: solid $bg-color 1px;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.topic_list{
  text-align: center;

  li{
    height: 30px;
  }
}

.pagination{
  @include clearfix;
  margin: 20px auto 0 auto;
  text-align: center;
  display: table;
  li{
    width: 20px;
    display: block;
    float: left;
  }
}

.header_user > a{
  font-size: 18px;
  float: right;
  width: 300px;
  text-align: right;
  margin-right: 50px;
  color: #fff;
  background-color: $bg-color;
}

h3{
  text-align: center;
  margin: 25px auto 10px auto;
  border-bottom: 1px solid $bg-color;
  padding-bottom: 5px;
}

.policy{
  width: 800px;
  margin: 20px auto;

  .over{
    margin-top: 30px;
    text-align: right;
  }
}

.company{
  width: 500px;
  margin: 0 auto;

  tr{
    height: 30px;
  }

  td,th{
    padding: 20px;
    border: solid 1px #ccc;
  }

  th{
    background-color: $bg-color;
    color: #fff;
  }
}

.item_list{
  text-align: center;
  width: 80%;
  margin: 0 10%;
  li{
    img{
      display: block;
      margin: 10px auto 20px auto;
    }
    float: left;
    width: 200px;
    border: solid 1px $bg-color;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
  }
}

.item_box{
  width: 800px;
  margin: 20px auto;
  img{
    float: left;
    display: block;
    margin-bottom: 20px;
  }

  table{
    margin: 0 auto;
    th,td{
      border: solid 1px #ccc;
      padding: 20px;
    }

    tr{
      width: 100px;
    }

    td{
      width: 200px;
    }

    th{
      background-color: $bg-color;
      color: #fff;
    }
  }

  p{
    clear: both;
    border: solid 1px $bg-color;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
  }
}

.big-button{
  width: 350px;
  margin: 20px auto;
  font-size: 30px;
  background-color: $bg-color;
  color: #fff;
  border: none;
  text-align: center;
  border-radius: 10px;
}

.search{
  @include clearfix;
  input,button{
    float: right;
  }
}

.prof_table{
  width: 300px;
  margin: 20px auto;
  th{
    width: 100px;
    background-color: $bg-color;
    color: #fff;
  }

  th,td{
    padding: 10px;
    border: solid 1px #ccc;
  }
}